<section class="section" id="about">
  <div class="container">
    <h2 class="section-title">About <span class="text-decor">Us</span></h2>
    <p class="section-text-support about-page">
      We are dedicated to providing engaging and effective English language
      courses in a supportive and stimulating learning environment
    </p>

    <div class="about-grid">
      <ol class="about-list">
        <li class="about-item" data-anim="fade-up" data-delay="100">
          <span class="about-item-text">Expert, innovative teaching staff</span>
        </li>
        <li class="about-item" data-anim="fade-up" data-delay="100">
          <span class="about-item-text"
            >Wide range of course levels and options</span
          >
        </li>
        <li class="about-item" data-anim="fade-up" data-delay="100">
          <span class="about-item-text"
            >Multicultural learning environment</span
          >
        </li>
        <li class="about-item" data-anim="fade-up" data-delay="100">
          <span class="about-item-text"
            >Comprehensive language support services</span
          >
        </li>
      </ol>

      <div class="about-container-img" data-anim="fade-up" data-delay="100">
        <img
          class="about-img"
          srcset="/img/about/about2x.png 2x"
          src="/img/about/about1x.png"
          alt="memoji"
          width="254"
          height="211"
        />
      </div>
    </div>
  </div>
</section>
