<header id="header" class="header">
  <div class="container header-container">
    <nav class="nav-header">
      <load src="/partials/logo.html" list-class="logo" />
      <load src="/partials/nav-list.html" list-class="header-nav-list" />
    </nav>
    <load src="/partials/socials.html" />
    <button class="burger-btn" type="button" data-menu-open aria-label="Open menu">
      <svg class="burger-icon" width="32" height="32" aria-hidden="true">
        <use href="img/sprite.svg#burger"></use>
      </svg>
    </button>
  </div>

  <!-- Modal menu -->
  <load src="/partials/modal-menu.html" />
</header>
