<section class="hero">
  <div class="container container-big">
    <div class="hero-inner-container">
      <h1 class="hero-title typing">
        <span class="line l1">Discover the joy of</span>
        <span class="line l2">
          learning <span class="title-accent">English</span></span
        >
        <span class="line l3"> with us!</span>
      </h1>
      <a href="#application-form" class="button hero-btn"
        >Leave an application</a
      >
      <a href="#footer" class="arrow-down" aria-label="Go to footer">
        <svg class="arrow-down-icon" width="20" height="20" aria-hidden="true">
          <use href="/img/sprite.svg#arrow-down"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
