<section class="section" id="reviews">
  <div class="container">
    <h2 class="section-title rev-title">
      What our <span class="text-decor">students </span> say
    </h2>
    <p class="section-text-support rew-text-support">
      Hear from our students about their learning journey with us, as they share
      their experiences, progress, and the transformative impact
    </p>

    <!-- Swiper -->
    <div class="wrapper-slider">
      <div class="swiper reviews-swiper">
        <div class="swiper-wrapper">
          <!-- Slide 1 -->
          <div class="swiper-slide rev-card">
            <div class="rev-card-student">
              <img
                class="student-image"
                srcset="
                  /img/students/anna@1x.png 1x,
                  /img/students/anna@2x.png 2x
                "
                src="/img/students/anna@1x.png"
                alt="Anna"
                width="50"
                height="50"
              />
              <div class="student-name-text">
                <h3 class="student-name">Anna</h3>
                <p class="student-text">Student</p>
              </div>
            </div>
            <p class="rev-card-feedback">
              My experience at the language school has been nothing short of
              amazing. The teachers are dedicated and the learning environment
              is stimulating. I feel more confident in my English skills.
            </p>
          </div>

          <!-- Slide 2 -->
          <div class="swiper-slide rev-card">
            <div class="rev-card-student">
              <img
                class="student-image"
                srcset="
                  /img/students/mykhailo@1x.png 1x,
                  /img/students/mykhailo@2x.png 2x
                "
                src="/img/students/mykhailo@1x.png"
                alt="Mykhailo"
                width="50"
                height="50"
              />
              <div class="student-name-text">
                <h3 class="student-name">Mykhailo</h3>
                <p class="student-text">Student</p>
              </div>
            </div>
            <p class="rev-card-feedback">
              The school offers a great balance of language theory and practical
              exercises. The personalized feedback from the teachers has helped
              me improve my weak areas.
            </p>
          </div>

          <!-- Slide 3-->
          <div class="swiper-slide rev-card">
            <div class="rev-card-student">
              <img
                class="student-image"
                srcset="
                  /img/students/victoria@1x.png 1x,
                  /img/students/victoria@2x.png 2x
                "
                src="/img/students/victoria@1x.png"
                alt="Victoria"
                width="50"
                height="50"
              />
              <div class="student-name-text">
                <h3 class="student-name">Victoria</h3>
                <p class="student-text">Student</p>
              </div>
            </div>
            <p class="rev-card-feedback">
              I love the dynamic and interactive teaching methods used here.
              It's a great place to learn English in a fun and effective way. I
              have definitely seen a big improvement in my language skills.
            </p>
          </div>

          <!-- Slide 4-->
          <div class="swiper-slide rev-card">
            <div class="rev-card-student">
              <img
                class="student-image"
                srcset="
                  /img/students/taras@1x.png 1x,
                  /img/students/taras@2x.png 2x
                "
                src="/img/students/taras@1x.png"
                alt="Taras"
                width="50"
                height="50"
              />
              <div class="student-name-text">
                <h3 class="student-name">Taras</h3>
                <p class="student-text">Team lead</p>
              </div>
            </div>
            <p class="rev-card-feedback">
              My experience has been outstanding—engaging lessons, clear
              guidance, and noticeable skill improvement have kept me confident
              and motivated.
            </p>
          </div>

          <!-- Slide 5-->
          <div class="swiper-slide rev-card">
            <div class="rev-card-student">
              <img
                class="student-image"
                srcset="
                  /img/students/daryna@1x.png 1x,
                  /img/students/daryna@2x.png 2x
                "
                src="/img/students/daryna@1x.png"
                alt="Daryna"
                width="50"
                height="50"
              />
              <div class="student-name-text">
                <h3 class="student-name">Daryna</h3>
                <p class="student-text">Scrum master</p>
              </div>
            </div>
            <p class="rev-card-feedback">
              Great work, amazing team! I’m absolutely delighted with the
              result. With custom enhancements the site looks much more
              interesting!
            </p>
          </div>

          <!-- Slide 6-->
          <div class="swiper-slide rev-card">
            <div class="rev-card-student">
              <img
                class="student-image"
                srcset="
                  /img/students/mykola@1x.png 1x,
                  /img/students/mykola@2x.png 2x
                "
                src="/img/students/mykola@1x.png"
                alt="Mykola"
                width="50"
                height="50"
              />
              <div class="student-name-text">
                <h3 class="student-name">Mykola</h3>
                <p class="student-text">Dev</p>
              </div>
            </div>
            <p class="rev-card-feedback">
              I truly enjoyed collaborating with my team—everyone contributed
              meaningfully, and the synergy made the process smooth and
              rewarding. Proud of what we accomplished together!
            </p>
          </div>

          <!-- Slide 7-->
          <div class="swiper-slide rev-card">
            <div class="rev-card-student">
              <img
                class="student-image"
                srcset="
                  /img/students/artem@1x.png 1x,
                  /img/students/artem@2x.png 2x
                "
                src="/img/students/artem@1x.png"
                alt="Artem"
                width="50"
                height="50"
              />
              <div class="student-name-text">
                <h3 class="student-name">Artem</h3>
                <p class="student-text">Dev</p>
              </div>
            </div>
            <p class="rev-card-feedback">
              I really enjoyed working with the team — everyone collaborated
              seamlessly, like a well-oiled machine, supporting each other at
              every stage of the process.
            </p>
          </div>

          <!-- Slide 8-->
          <div class="swiper-slide rev-card">
            <div class="rev-card-student">
              <img
                class="student-image"
                srcset="
                  /img/students/viktor@1x.png 1x,
                  /img/students/viktor@2x.png 2x
                "
                src="/img/students/viktor@1x.png"
                alt="Viktor"
                width="50"
                height="50"
              />
              <div class="student-name-text">
                <h3 class="student-name">Viktor</h3>
                <p class="student-text">Dev</p>
              </div>
            </div>
            <p class="rev-card-feedback">
              Great teamwork and communication! Everyone did their part, and the
              project went smoothly. I learned a lot and really enjoyed working
              with this team.
            </p>
          </div>

          <!-- Slide 9-->
          <div class="swiper-slide rev-card">
            <div class="rev-card-student">
              <img
                class="student-image"
                srcset="
                  /img/students/julia@1x.png 1x,
                  /img/students/julia@2x.png 2x
                "
                src="/img/students/julia@1x.png"
                alt="Julia"
                width="50"
                height="50"
              />
              <div class="student-name-text">
                <h3 class="student-name">Julia</h3>
                <p class="student-text">Dev</p>
              </div>
            </div>
            <p class="rev-card-feedback">
              Clear structure, modern design, and effective teamwork. Our
              communication kept the process smooth and productive. This
              collaboration was a true pleasure, and the result reflects our
              shared effort.
            </p>
          </div>

          <!-- Slide 10-->
          <div class="swiper-slide rev-card">
            <div class="rev-card-student">
              <img
                class="student-image"
                srcset="
                  /img/students/alex@1x.png 1x,
                  /img/students/alex@2x.png 2x
                "
                src="/img/students/alex@1x.png"
                alt="Alex"
                width="50"
                height="50"
              />
              <div class="student-name-text">
                <h3 class="student-name">Alex</h3>
                <p class="student-text">Dev</p>
              </div>
            </div>
            <p class="rev-card-feedback">
              I am always happy to welcome new people to our team, as it brings
              fresh ideas and energy. Collaboration helps me improve my HTML and
              CSS skills, making projects more high-quality and engaging.
            </p>
          </div>

          <!-- Slide 11-->
          <div class="swiper-slide rev-card">
            <div class="rev-card-student">
              <img
                class="student-image"
                srcset="
                  /img/students/vasyl@1x.png 1x,
                  /img/students/vasyl@2x.png 2x
                "
                src="/img/students/vasyl@1x.png"
                alt="Vasyl"
                width="50"
                height="50"
              />
              <div class="student-name-text">
                <h3 class="student-name">Vasyl</h3>
                <p class="student-text">Dev</p>
              </div>
            </div>
            <p class="rev-card-feedback">
              The project was a great opportunity to apply our knowledge in
              practice and develop web development skills. Teamwork helped us
              distribute tasks and successfully bring our idea to life.
            </p>
          </div>
        </div>
      </div>
      <!-- Navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <!-- Pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
