<ul class="social-list">
  <li>
    <a
      href="https://www.facebook.com/goITclub/"
      target="_blank"
      rel="noopener noreferrer"
      class="social-link"
      aria-label="Facebook"
    >
      <svg width="28" height="28" class="social-icon" aria-hidden="true">
        <use href="/img/sprite.svg#facebook"></use>
      </svg>
    </a>
  </li>
  <li>
    <a
      href="https://www.instagram.com/goitclub/"
      target="_blank"
      rel="noopener noreferrer"
      class="social-link"
      aria-label="Instagram"
    >
      <svg width="28" height="28" class="social-icon" aria-hidden="true">
        <use href="/img/sprite.svg#instagram"></use>
      </svg>
    </a>
  </li>
  <li>
    <a
      href="https://www.youtube.com/c/GoIT"
      target="_blank"
      rel="noopener noreferrer"
      class="social-link"
      aria-label="YouTube"
    >
      <svg width="28" height="28" class="social-icon" aria-hidden="true">
        <use href="/img/sprite.svg#youtube"></use>
      </svg>
    </a>
  </li>
</ul>
