<section class="section" id="teachers">
  <div class="container">
    <h2 class="section-title t-title">
      Meet our <span class="text-decor">teachers</span>
    </h2>
    <p class="section-text-support t-text-support">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>
    <ul class="t-list">
      <li class="t-card" data-anim="fade-up" data-delay="100">
        <picture>
          <source
            srcset="
              /img/teachers/maria@1x.avif 1x,
              /img/teachers/maria@2x.avif 2x
            "
            type="image/avif"
          />
          <source
            srcset="
              /img/teachers/maria@1x.jpg 1x,
              /img/teachers/maria@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            src="/img/teachers/maria@1x.jpg"
            alt="Maria"
            width="150"
            height="150"
            class="t-card-image"
            loading="lazy"
          />
        </picture>
        <h3 class="t-card-title">Maria</h3>
        <p class="t-card-text">
          A seasoned linguist and our primary specialist in beginner-level
          instruction, Maria brings warmth and patience to every class
        </p>
      </li>

      <li class="t-card" data-anim="fade-up" data-delay="100">
        <picture>
          <source
            srcset="
              /img/teachers/artem@1x.avif 1x,
              /img/teachers/artem@2x.avif 2x
            "
            type="image/avif"
          />
          <source
            srcset="
              /img/teachers/artem@1x.jpg 1x,
              /img/teachers/artem@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            src="/img/teachers/artem@1x.jpg"
            alt="Artem"
            width="150"
            height="150"
            class="t-card-image"
            loading="lazy"
          />
        </picture>
        <h3 class="t-card-title">Artem</h3>
        <p class="t-card-text">
          With his innovative teaching techniques and a focus on interactive
          learning, Artem excels in keeping students engaged and motivated
        </p>
      </li>

      <li class="t-card" data-anim="fade-up" data-delay="100">
        <picture>
          <source
            srcset="
              /img/teachers/ilona@1x.avif 1x,
              /img/teachers/ilona@2x.avif 2x
            "
            type="image/avif"
          />
          <source
            srcset="
              /img/teachers/ilona@1x.jpg 1x,
              /img/teachers/ilona@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            src="/img/teachers/ilona@1x.jpg"
            alt="Ilona"
            width="150"
            height="150"
            class="t-card-image"
            loading="lazy"
          />
        </picture>
        <h3 class="t-card-title">Ilona</h3>
        <p class="t-card-text">
          A specialist in advanced English, Ilona provides intensive
          instruction, ensuring students gain confidence in complex language
          tasks
        </p>
      </li>

      <li class="t-card" data-anim="fade-up" data-delay="100">
        <picture>
          <source
            srcset="
              /img/teachers/volodymyr@1x.avif 1x,
              /img/teachers/volodymyr@2x.avif 2x
            "
            type="image/avif"
          />
          <source
            srcset="
              /img/teachers/volodymyr@1x.jpg 1x,
              /img/teachers/volodymyr@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            src="/img/teachers/volodymyr@1x.jpg"
            alt="Volodymyr"
            width="150"
            height="150"
            class="t-card-image"
            loading="lazy"
          />
        </picture>
        <h3 class="t-card-title">Volodymyr</h3>
        <p class="t-card-text">
          Our expert in English for specific purposes, Volodymyr tailors his
          approach to meet individual career and industry-specific language
          needs
        </p>
      </li>
    </ul>
  </div>
</section>
