/* Базовий стан для всіх ефектів */
[data-anim] {
  opacity: 0;
  transition: opacity 0.6s ease, transform 0.6s ease;
  will-change: opacity, transform;
}

/* Коли показуємо */
[data-anim]._show {
  opacity: 1;
  transform: translate3d(0, 0, 0) scale(1);
}

/* Ефекти */
[data-anim='fade-up'] {
  transform: translate3d(0, 100px, 0);
}

[data-anim='fade-left'] {
  transform: translate3d(-100px, 0, 0);
}

[data-anim='fade-right'] {
  transform: translate3d(100px, 0, 0);
}

[data-anim='zoom-in'] {
  transform: scale(0.5);
}

/* Початковий стан */
.proposal-decoration-bg::before,
.proposal-decoration-bg::after,
.proposal-thumb {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.45s ease, transform 0.45s ease;
  will-change: opacity, transform;
}

/* Коли блок у полі зору */
.proposal-stack.is-inview .proposal-decoration-bg::before {
  opacity: 1;
  transform: scale(1) rotate(-11deg);
  transition-delay: 0ms;
}

.proposal-stack.is-inview .proposal-decoration-bg::after {
  opacity: 1;
  transform: scale(1) rotate(9deg);
  transition-delay: 300ms;
}

.proposal-stack.is-inview .proposal-thumb {
  opacity: 1;
  transform: scale(1);
  transition-delay: 600ms;
}

@media only screen and (min-width: 768px) {
  .proposal-decoration-bg::after {
    transform: scale(1) rotate(10deg);
  }

  .proposal-decoration-bg::before {
    transform: scale(1) rotate(-11deg);
  }
}
@media only screen and (min-width: 1280px) {
  .proposal-decoration-bg::after {
    transform: scale(1) rotate(11deg);
  }

  .proposal-decoration-bg::before {
    transform: scale(1) rotate(-8deg);
  }
}
