.section.form-section .section-text-support {
  margin-bottom: 20px;
}

.form-input-container {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.form-field {
  width: 100%;
  border: 1px solid var(--black-10);
  border-radius: 12px;
  outline: none;
  padding: 16px 18px;
}

.form-input {
  height: 50px;
}

.form-input::placeholder {
  color: var(--text-secondary);
}

.form-comment {
  height: 104px;
  resize: none;
}

.form-input:focus,
.form-comment:focus {
  border-color: var(--green-50);
}

.form-label,
.comment-label {
  color: var(--text-secondary);
  transition: transform var(--transition-base);
}

.form-field:focus + .form-label,
.form-field:not(:placeholder-shown) + .form-label {
  display: block;
  transform: translateY(-36px);
  color: var(--green-50);
  background: #fff;
  padding: 0 5px;
}

.form-field:focus + .comment-label,
.form-field:not(:placeholder-shown) + .comment-label {
  display: block;
  transform: translateY(-28px);
  color: var(--green-50);
  background: #fff;
  padding: 0 5px;
}

.wrapper-input {
  position: relative;
  margin-bottom: 18px;
}

.wrapper-input.wrapper-textarea {
  margin-bottom: 0;
}

.form-label {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
}

.comment-label {
  position: absolute;
  left: 18px;
  top: 16px;
}

/* radio */
.form-radio-container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.radio-title {
  margin-bottom: 14px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  color: var(--text-secondary);
}

.teacher-label {
  font-size: 14px;
  color: var(--text-secondary);
}

.teacher-label::before,
.teacher-label::after {
  position: absolute;
  content: ' ';
  display: block;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.teacher-label::before {
  width: 10px;
  height: 10px;
  left: 5px;
}

.teacher-label::after {
  width: 20px;
  height: 20px;
  border: 1px solid rgba(18, 20, 23, 0.2);
  left: 0;
}

.radio-input {
  width: 20px;
  height: 20px;
  appearance: none;

  transition: background-color var(--transition-base),
    border-color var(--transition-base);
}

.confirm-terms {
  font-size: 12px;
  margin-top: 16px;
}

.radio-container {
  margin-bottom: 40px;
}

.wrapper-radio {
  position: relative;
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
  align-items: center;
}

.description-img {
  display: flex;
  flex-direction: column;
  max-width: 452px;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  color: var(--white);
}

.title-support {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 8px;
  line-height: 1.2;
}

.description-img p:not(.title-support) {
  text-align: center;
  color: var(--gray-70);
}

.radio-input:focus {
  border-color: var(--green-50);
}

.teacher-label::before {
  transition: background-color var(--transition-base),
    border-color var(--transition-base);
}

.radio-input:checked + .teacher-label::before,
.radio-input:focus + .teacher-label::before {
  background-color: var(--green-50);
}

.radio-input:checked + .teacher-label::after,
.radio-input:focus + .teacher-label::after {
  border-color: var(--green-50);
}

.background-img {
  display: none;
}

.form-input-container .button {
  display: inline-block;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .form-input-container {
    max-width: 500px;
  }

  .radio-container {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
  }

  .confirm-terms {
    margin-bottom: 18px;
  }

  .radio-title {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .confirm-terms {
    margin-top: 18px;
    font-size: 14px;
  }

  .form-input-container .button {
    width: 100%;
  }

  .form-input {
    height: 56px;
  }

  .section.form-section .section-text-support {
    margin-bottom: 64px;
  }

  .wrapper-input.wrapper-textarea {
    margin-bottom: 26px;
  }

  .teacher-label {
    font-size: 18px;
  }

  .form-field:focus + .form-label,
  .form-field:not(:placeholder-shown) + .form-label {
    transform: translateY(-39px);
  }
}

@media screen and (min-width: 1280px) {
  .content-container {
    display: flex;
    justify-content: center;
  }

  .background-img {
    display: block;
    width: 492px;
    margin-right: 32px;
    background-color: var(--green-50);
    overflow: hidden;
    border-radius: 30px;
  }

  .section.form-section .section-text-support {
    max-width: 70%;
    margin: 0 auto 64px;
  }

  .confirm-terms,
  .form-input-container {
    margin-bottom: 0;
  }
}
