.link-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 52px;
}

.link-button:hover,
.link-button:focus {
  background-color: var(--bg-accent-hover);
}

@media only screen and (min-width: 768px) {
  .link-button {
    font-size: 18px;
    line-height: 1.56;
    padding: 0;
    height: 60px;
  }
}
