.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: var(--black-50);
  /* display: none; */
  display: flex;
  justify-content: flex-end;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity var(--transition-base), visibility var(--transition-base);
}

.modal-overlay.is-open {
  /* display: flex; */
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  background-color: var(--green-50);
  width: 240px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.modal-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal-overlay .nav-list {
  height: 60%;
  justify-content: flex-end;
  gap: 20px;
  text-align: center;
}

.modal-overlay .nav-item {
  margin-bottom: 0;
}

.modal-overlay .nav-link::after {
  background-color: var(--black);
}

.modal-overlay li:hover .social-link {
  border-color: var(--black);
  opacity: 0.8;
}

.modal-overlay li:hover .social-icon {
  fill: var(--black);
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .modal {
    width: 384px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .modal-overlay.is-open {
    display: none;
  }
}
